/* 
Make the Facebook Like box responsive (fluid width)
https://developers.facebook.com/docs/reference/plugins/like-box/ 
*/

/* 
This element holds injected scripts inside iframes that in 
some cases may stretch layouts. So, we're just hiding it. 
*/

#fb-root {
    display: none;
}

/* To fill the container and nothing else */

.twitter-timeline, .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

#twitter-widget-0, .root {
background: transparent;
}

.center {
	text-align: center;
}

.committee {
	width: 60%;
}

.social {
	padding-right: 1em;
}

.social-link{
	font-size: 0.8rem;
	padding: 0px;
	margin: 0px;
	line-height: 2rem;
}

.ovrflo-hidden{
	overflow: hidden;
}

.borderless{
	border: none;
}

.pashow {
	background-image: url("../img/pashow.jpg");
	background-size: cover;
}

#blogs h4{
	margin: 0px;
}

.st0{
	fill:none;
	stroke:#FFFFFF;
	stroke-miterlimit:10; 
	display:none;
}
.st1{
	fill:none;
	stroke:#FFFFFF;
	stroke-width:0.6;
	stroke-miterlimit:10;
	display:none;}





