{{ header("SUSU Performing Arts - Resources") }}
{{ fancySubHeader(0, "Resources for current members") }}

<div class="row">
  <div class="col-md-12">
    <div class="well well-pa">
      <p>
        For most queries etc, your PA rep is the best person to go to (dance/music/theatrical/tech). They will be able to help you, or get you help, with most issues, including pastoral, financial, technical and really anything.
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well well-pa">
      <h3>Google Drive</h3>
      <p>Most of our resources can be found in our <a href="https://docs.google.com/folder/d/0B8QnE0Kdupy-ektjS1ZtTGV6akU/edit?pli=1" target="_blank">Google Drive folder</a>. In here are all the logos we use, all your logos, the colours and backgrounds among other things.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well well-pa">
      <h3>Performing Arts Handbook</h3>
      <p>
        In previous years, booklets were compiled to help with the running of a society. For the most part, these are still relevent and helpful but if you have any queries please message your PA area rep!
      </p>
      
      <ul>
        <li><a href="https://drive.google.com/a/susuperformingarts.org/file/d/0B3v0EoAEW019eEktQTQ5QjlnZGs/view" target="_blank">2015-2016</a></li>
        <li><a href="http://online.fliphtml5.com/srce/toeb/" target="_blank">2014-2015</a></li>
    </ul>
    </div>
  </div>
  
  {% if authenticate('is_on_a_committee') %}
    <div class="col-md-12">
      <div class="well well-pa">
        {{ api|markdown }}
      </div>
    </div>
  {% endif %}
</div>


{{ footer() }}
