<div class="well well-pa voting_form">
	<h2>Society of the Year</h2>
	<hr>
	<div class="row">
		<div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-3 col-lg-4 col-md-4 col-sm-6">
			<input class="form-control" type="text" id="outstanding" placeholder="Society Name"/>
		</div>
	</div>
</div>
<div class="well well-pa voting_form">
	<h2>Best Performer</h2>
	<span>
		For this award, please choose who you think has been the best performer various societies in Performing Arts this academic year. There will be both a main winner and a runner-up for this award.
	</span>
	<hr>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6">
			<h3>Theatrical</h3>
			<ul id="tbp" class="list-group candidates">
				<li><a>Samena Brunning</a></li>
				<li><a>Ed Gill</a></li>
				<li><a>Georgia Harper</a></li>
				<li><a>Billy Boulton</a></li>
				<li><a>Sharon Wanjohi</a></li>
				<li><a>Victoria Howard</a></li>
				<li><a>Callan Armknecht</a></li>
				<li><a>James Adams</a></li>
				<li><a>Safi Bensissi</a></li>
			</ul>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-6">
			<h3>Music</h3>
			<ul id="mbp" class="list-group candidates">
				<li><a>Rachel Abbott</a></li>
				<li><a>Zoe Sones</a></li>
				<li><a>Emma Johnson</a></li>
				<li><a>Columba DC</a></li>
				<li><a>George Harrington</a></li>
				<li><a>Luke Montgomery </a></li>
				<li><a>Adam Melvin</a></li>
				<li><a>Hannah Porter</a></li>
				<li><a>Wesley Downing</a></li>
			</ul>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-6">
			<h3>Dance</h3>
			<ul id="dbp" class="list-group candidates">
				<li><a>Claire Mason</a></li>
				<li><a>Georgie Hill</a></li>
				<li><a>Jan Feeley</a></li>
				<li><a>Annabel Saunders</a></li>
				<li><a>Natalie Berry</a></li>
				<li><a>Sam T-Flaire</a></li>
				<li><a>Amy Springett</a></li>
				<li><a>Matt Hunter</a></li>
				<li><a>Chrystine Ashiagbor</a></li>
			</ul>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-6">
			<h3>Best Crew Member</h3>
			<ul id="bcm" class="list-group candidates">
				<li><a>Craig Flint</a></li>
				<li><a>Jason Garde</a></li>
				<li><a>George Tucker</a></li>
				<li><a>Kit Grange</a></li>
				<li><a>Chloe Taylor</a></li>
				<li><a>Lewis McGhee</a></li>
				<li><a>Chris Gotts</a></li>
				<li><a>Alex Willmott</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="well well-pa voting_form">
	<h2>Behind the scenes</h2>
	<span>
		This is for a member of a society who you feel works really hard, is a team player, and is a key member of the group but doesn't often get credited for it.
	</span>
	<hr>
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-6">
			<h3>Theatrical</h3>
			<ul id="tbts" class="list-group candidates">
				<li><a>Molly Ellis</a></li>
				<li><a>Jamie Milburn</a></li>
				<li><a>Ed Gill</a></li>
				<li><a>Ben McQuigg</a></li>
				<li><a>Delyth Simons</a></li>
				<li><a>Victoria Howard</a></li>
				<li><a>Jonah Tabbal</a></li>
				<li><a>Martha Fooks</a></li>
				<li><a>Will Shere</a></li>
			</ul>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-6">
			<h3>Music</h3>
			<ul id="mbts" class="list-group candidates">
				<li><a>Amelia Powell</a></li>
				<li><a>Sophie Hart</a></li>
				<li><a>Wesley Downing</a></li>
				<li><a>Ali Treanor</a></li>
				<li><a>Liv Chester</a></li>
				<li><a>James Atkins</a></li>
				<li><a>David Saudek</a></li>
				<li><a>Fiona Sunderland</a></li>
				<li><a>Kerry Barnard</a></li>
			</ul>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-6">
			<h3>Dance</h3>
			<ul id="dbts" class="list-group candidates">
				<li><a>Rachel Marley</a></li>
				<li><a>Dilini Seneviratne</a></li>
				<li><a>Georgia Townsend</a></li>
				<li><a>Jasmine Cross</a></li>
				<li><a>Eleanor Ruck</a></li>
				<li><a>Gabby Puleston-Vaudrey</a></li>
				<li><a>Zoe Blackall</a></li>
				<li><a>Chiara Zuccarello</a></li>
				<li><a>Jan Feeley</a></li>
			</ul>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-6">
			<h3>Tech</h3>
			<ul id="sbts" class="list-group candidates">
				<li><a>Jason Garde</a></li>
				<li><a>Chris Gotts</a></li>
				<li><a>George Tucker</a></li>
				<li><a>Josh Perriman</a></li>
				<li><a>Kit Grange</a></li>
				<li><a>Martha Fooks</a></li>
				<li><a>Will Barber</a></li>
				<li><a>The Game</a></li>
			</ul>
		</div>
	</div>
</div>


