<script src="//cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div class="well well-pa">
        <h1>PA Awards 2018 - Vote</h1>
        <p>At the PA ball, a number of awards are given to those in performing arts who have been exceptional, on or off stage.
		<br />
		For all but one of the awards, they are chosen by a public vote... see below to cast yours!
		</p>
	<h3>Instructions</h3>
	<p>
		To vote, you can rank up to 3 people for each award by <strong>dragging</strong> their names into the top 3 (the top one is #1, then #2 and #3) positions. You do <strong>not</strong>:
		
		<ul>
			<li>have to vote on all awards</li>
			<li>have to select 3 people per award (you can select only 1 or 2, however this will not increase the weight of your vote)</li>
			<li>have to consider the ordering of nominees beyond the top 3 - this is not recorded</li>
		</ul>
		
		Once you click submit your vote is sealed and is uneditable - be careful that you haven't knocked someone out with a no-vote by accident etc so double check!
		<br />
		Have fun!
	</p>
</div>

