/* CSS for basic Freshers SUSU PA Website */
@font-face {
    font-family: "museo-slab-1";
    src: url('assets/Museo_Slab_900.otf');
}

@font-face {
    font-family: "museo-slab-2";
    src: url('assets/Museo_Slab_500.otf');
}


#wrapper{
    max-width: 100%;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 0px;
}

.stagesoc {
    color: #000;
    background: #fff;
}

.stagesoc #fb a {
    color: #3b5998;
    vertical-align: bottom;
}

#societies .society a {
	background-color: #FFFFFF;
	color: #400080;
	font-weight: bold;
	text-decoration: underline;
	vertical-align: bottom;
}

.stagesoc a {
	background-color: #FFFFFF;
	color: #400080;
	font-weight: bold;
	text-decoration: underline;
	vertical-align: bottom;
}



.society {
display: block;
width: 180px;
height: 180px;
float: left;
margin: 2px;
padding: 0px;
background: #FFFFFF;
color: #000000;
}

#fwrapper {
width: 400px;
height: 50px;
padding:20px;
padding-top: 10px;
margin-top: 0;
margin: 5 auto;
padding-bottom: 70px;
}
.details {
    float: right;
    margin-right: 10px;
    color: #000000;
    font-size: 0pt;
}